@{
    ViewData["Title"] = "Главная страница";
}


<div class="row">
    <div class="col-md-4">
        <h2>Доступные функции</h2>
        @* <ul> *@
        @*     <li><a asp-area="Admin" asp-controller="Users">Управление пользователями</a></li> *@
        @*     <li><a asp-area="Admin" asp-controller="Roles">Управление ролями</a></li> *@
        @*     <li><a asp-area="Admin" asp-controller="ServicePlanManager">Управление группами тарифных планов</a></li> *@
        @*     <li><a asp-area="Admin" asp-controller="Themes" asp-action="Index">Управление темами</a></li> *@
        @*     <li><a asp-area="Admin" asp-controller="Ads">Управление рекламными баннерами</a></li> *@
        @*     <li><a asp-area="Admin" asp-controller="Documents">Управление документацией</a></li> *@
        @* </ul> *@
    </div>
</div>
